---
layout: default
---
<article>
  <time datetime='{{ page.date | xmlschema }}'>{{ page.date | date: '%B %d, %Y' }}</time>
  <h2>{{ page.title }}</h2>
  <section>
    {{ content }}
  </section>
  {% if page.tags %}<div class='tags'>Tags: {{ page.tags | join: ', ' }}</div>{% endif %}
  <nav>
    {% if page.previous %}<a href='{{ site.url }}{{ page.previous.url }}' class='previous'>‹ Previous post</a>{% endif %}
    {% if page.next %}<a href='{{ site.url }}{{ page.next.url }}' class='next'>Next post ›</a>{% endif %}
    <a href='{{ site.url }}{{ page.url }}'>Permalink</a>
  </nav>
</article>